Component_Definition/id_component.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Definition of the main component -->
    <xs:element name="ID_Component" uuid="a0b1c2d3-e4f5-6789-abcd-0123456789ab">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" uuid="b2c3d4e5-f6a7-7890-bcde-1234567890cd" />
                <xs:element name="user_description" type="xs:string" uuid="c3d4e5f6-a7b8-9012-cdef-234567890def" />
                <xs:element name="user_number" type="xs:string" uuid="d4e5f6a7-b8c9-0123-defg-345678901efg" />
                <xs:element name="classification" type="xs:string" uuid="e5f6a7b8-c901-2345-fghj-456789012fgh" />
                <xs:element name="language" type="xs:language" uuid="f6a7b8c9-0123-4567-ghij-567890123ghi" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
